<div>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="foodName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let food"> {{food.foodName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="glycemicIndex">
      <mat-header-cell *matHeaderCellDef mat-sort-header> IG </mat-header-cell>
      <mat-cell *matCellDef="let food"> {{food.glycemicIndex}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pralIndex">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Indice Pral</mat-header-cell>
      <mat-cell *matCellDef="let food" > {{food.pralIndex}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="favorite">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell *matCellDef="let food; let i = index" (click)="$event.stopPropagation()"><mat-icon class="red-icon" (click)="onFavorite(food);">
        <div *ngIf="!food.favorite">favorite_border</div>
        <div *ngIf="food.favorite">favorite</div>
      </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let food" (click)="$event.stopPropagation()"><mat-icon (click)="onDeleteFood(food);">delete_forever</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="btn-toolbar">
  <button class="btn btn-primary"  (click)="onNewFood()">Nouvel Aliment</button>
  <button class="btn btn-primary" (click)="onReinitFoods()">Reinit</button>
</div>


<h3>Aliments</h3>
<div class="row">
  <div class="col-sm-3" flex style="overflow: scroll; height: 300px">
    <ul class="list-group">
      <li style="width: 50%" draggable *ngFor="let food of foods | keyvalue" [dragData]="food.value" dragScope="{{food.value.categoryName}}" class="list-group-item">{{food.value.foodName}}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default" droppable (onDrop)="onFoodDrop($event)" [dropScope]="'Fruits'">
      <div class="panel-heading" >Courses fruits</div>
      <div class="panel-body">
        <li *ngFor="let food of chosenFoods; let i = index" class="list-group-item" (click)="onRemoveFood(i)">{{food.foodName}}</li>
      </div>
    </div>
  </div>

</div>
