<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{category.catName}}</span>
    <mat-icon class="edit" (click)="onEditCategory(category)" >edit</mat-icon>
    <span class="example-spacer"></span>
    <mat-icon class="delete-icon" >delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle *ngIf="!category.foods">Aucun aliment associé</mat-card-subtitle>
  </mat-card-header>

  <div>
    <img (click)="selectImage.click()" *ngIf="fileUrl" [src]="fileUrl" class="images_big">
    <input #selectImage (change)="onSelectFiles($event)" style="display:none;" type="file" />
  </div>

  <!-- liste des aliments -->
  <mat-accordion>
    <mat-expansion-panel *ngFor="let foodName of category.foods; let i = index;" (mouseover)="showMessage(i);" (mouseleave)="hideMessage(i)"  >
      <mat-expansion-panel-header>
        <mat-panel-title [style.color]="messages[i] ? 'red' : 'black'">
         {{foodName}}
        </mat-panel-title>
        <mat-panel-description *ngIf="messages[i]" >
          cliquer pour la description de {{foodName}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-food-edit [foodName]="foodName" [editionMode]="true"></app-food-edit>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="valider()">save</button>
    <button mat-raised-button color="accent" (click)="onPrevious()">back</button>
  </mat-card-actions>
</mat-card>


