<div class="row" style="max-width: 50%">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 *ngIf="createMode" >Nouvel aliment</h2>
    <h2 *ngIf="!createMode" >Modification aliment</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="foodForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input [ngModel]="currentFood.foodName" [readOnly]="!createMode" class="form-control"  formControlName="name" id="name" type="text">
        <div *ngIf="createMode && foodForm.controls['name'].errors && foodForm.controls['name'].value">
            <p *ngIf="foodForm.controls['name'].hasError('forbiddenNameFood'); else commonNameError" class="alert alert-info"> L'aliment existe déjà</p>
            <ng-template #commonNameError>
              <p class="alert alert-info">Erreur sur le nom</p>
            </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Catégorie</label>
        <select formControlName="categoriesControl" >
          <option  *ngFor="let category of categories | keyvalue" [ngValue]=category.key [selected]="category.key===currentFood.categoryName">{{category.value.catName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="glycemicValue">Indice Glycémique</label>
        <input [value]="currentFood.glycemicIndex" class="form-control" formControlName="glycemicValue" id="glycemicValue" type="text">
        <p *ngIf="foodForm.controls['glycemicValue'].value != '' && foodForm.controls['glycemicValue'].errors" class="alert alert-info">Erreur sur l'indice glycémique</p>
      </div>
      <div class="form-group">
        <label for="pralValue">Indice Pral</label>
        <input [value]="currentFood.pralIndex" class="form-control" formControlName="pralValue" id="pralValue" type="text">
        <p *ngIf="foodForm.controls['pralValue'].value != '' && foodForm.controls['pralValue'].errors" class="alert alert-info">Erreur sur l'indice de pral</p>
      </div>
      <div>
        <img (click)="selectImage.click()" *ngIf="fileUrl" [src]="fileUrl" style="max-width: 100px">
        <input #selectImage (change)="onSelectFiles($event)" style="display:none;" type="file" />
      </div>
      <div>
        <button *ngIf="createMode" [disabled]="foodForm.invalid" class="btn btn-success" type="submit">Créer</button>
        <button *ngIf="!createMode" [disabled]="foodForm.controls['name'].setValidators(null) && foodForm.invalid" class="btn btn-success" type="submit">Modifier</button>
      </div>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>

