<div>
  <mat-table style="width: 50%"  [dataSource]="dataSource"  class="mat-elevation-z8">

    <ng-container matColumnDef="catName">
      <mat-header-cell *matHeaderCellDef > Nom </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.catName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef >  </mat-header-cell>
      <mat-cell *matCellDef="let category" (click)=" $event.stopPropagation()"><mat-icon (click)="onDeleteCategory(category);">delete_forever</mat-icon> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></mat-row>

  </mat-table>
</div>

<p>
  <button class="btn btn-primary" (click)="onNewCategory()">Nouvelle Catégorie</button>
</p>
