<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer une catégorie</h2>
    <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" id="name" class="form-control" formControlName="name">
        <p class="alert alert-info" *ngIf="categorieForm.controls['name'].hasError('forbiddenNameCat')">La catégorie existe déja !</p>
      </div>
      <div>
        <img *ngIf="fileUrl" [src]="fileUrl" (click)="selectImage.click()" style="max-width: 100px">
        <input #selectImage type="file" (change)="onSelectFiles($event)" style="display:none;" />
      </div>
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé</p>
      <button class="btn btn-success" type="submit" [disabled]="categorieForm.invalid || fileIsUploading">Créer</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
