<div style="margin: 5px">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="commonService.getAvatarStyles(fileUrl)">
      </div>
      <mat-card-subtitle *ngIf="editionMode">Indice Glyc. : {{food.glycemicIndex}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="editionMode">Indice Pral : {{food.pralIndex}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="editionMode">
      <mat-icon class="red-icon">
        <div *ngIf="food.favorite">favorite</div>
      </mat-icon>
      <mat-icon (click)="onEditFood(food)">edit</mat-icon>
      <mat-icon class="delete-icon" (click)="onDeleteFood(food)">delete</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
