<div style="margin: 5px">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer">{{food.foodName}}</span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon" (click)="onDeleteFood(food)">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
    <mat-card-title-group><img alt="photo" *ngIf="fileUrl" [src]="fileUrl" style="max-width: 100px"></mat-card-title-group>
    <mat-card-content>
      <div>IG : {{food.glycemicIndex}}</div>
      <div>Pr : {{food.pralIndex}}</div>
    </mat-card-content>
  </mat-card>

</div>
